
body{
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('Media/elk.jpg');
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-width: 400px;
}
a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
a:hover{
	color: white;
	text-decoration: none;
}

.page-topper{
	width: 80%;
	margin: auto;
	padding: 1%;
}
#menu-btn{
	display: none;

}
.logo-heading{
	width: 80%;
	display: table;
	margin: auto;
	text-align: center;
	position: relative;
}
.logo-heading p{
	font-weight: bold;
	margin: 0px;
}
#discount{
	display: table-cell;
	vertical-align: middle;
	color: white;
	text-align: center;
	width: 20%;
}

#call-now{
	display: table-cell;
	vertical-align: middle;
	color: white;
	text-align: center;
	width: 20%;
	position: relative;
	top: 10px;
}
.logo{
	display: inline-block;
	width: 70%;
}
.logo img{
	width: 100%;
}
.navbar{
	width: 100%;
	padding: 1%;
	text-align: center;
	display: inline-block;
	float: none;
	margin-bottom: 0px;
}
.navbar-nav{
	display: inline-block;
	float: none;
}
.navbar-nav li{
	margin-left: 2px;
}
.navbar-nav li a{
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	
}
.navbar-nav .active{
	border-bottom: 4px solid #520003;
}
.navbar-nav .active a{
	padding-bottom: 6px;
}
.navbar-nav > li > a:hover{
	background-color: transparent;
	color: white;
}
.hvr-underline-from-center:before{
	background-color: #520003;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 500; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.content-wrapper{
	background-color: rgba(255,255,255,.4);
	width: 800px;
	margin: auto;
	margin-top: 5px;
}

.highlight-slides{
	width: 100%;
}
.slide-content-wrapper{
	position: relative;
	width: 100%;
}
.slide-content-wrapper img{
	
}
.slide-content-wrapper h2{
	margin-top:25%;
	margin-bottom: 3%;
	color: white;
	font-size: 36pt;
	font-weight: bold; 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.slide-content-wrapper h4{
	width: 100%;
	margin: auto;
	color: white;
	font-size: 24pt;
	font-weight: bold;
	border-top: 2px solid #520003;
	border-bottom: 2px solid #520003;
	padding-top: 4px;
	padding-bottom: 4px;
}
.slide-content-wrapper h4:hover{
	border: 2px solid transparent;

}
.content-wrapper img{
	width: 100%;
}
.slide-text{
	position: absolute;
	width: 100%;
	text-align:center;
}
#pager span{
	font-size: 24px;
	margin: 5px;
}
#pager{
	text-align: center;
	display: table-cell;
}
.cycle-pager-active{
	color: #520003;
}
#slide-control img{
	width: 24px;
}
#slide-control a{
	display: table-cell;
	padding: 0px;
}
#slide-control a:last-child{
	text-align: right;
}
#slide-control {
	display: table;
	width: 90%;
	margin: auto;
	table-layout: fixed;
}

.page-thumbnails{
	background-color: rgba(255,255,255,.4);
	display: table;
	table-layout: fixed;
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
}
.thumb{
	display: table-cell;
	vertical-align: top;
	position: relative;
}
.thumb img{
	width: 100%;
	padding: 1%;
}
.tint:before{
	cursor: pointer;
	content: "";
	display: block;
	position: absolute;
	background:rgba(0,0,0,.1);
	transition: all .3s linear;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.tint:hover:before{
	cursor: pointer;
	content: "";
	display: block;
	position: absolute;
	background:rgba(0,0,0,.5);
	transition: all .3s linear;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.thumb-text{
	z-index: 5;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 5px;
	color: white;
	font-weight: bold;
	font-size: 24px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.thumb-text:hover{
	cursor: pointer;
}

#content-heading h2{
	padding-top: 1%;
	text-align: center;
	color: #520003;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
}

.awards{
	width: 100%;
	margin:auto;
	vertical-align: top;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
}
.awards p{
	font-weight: bold;
	color: #520003;
}
#award-left{
	display: inline-block;
	width: 45%;
	vertical-align: top;
	text-align: left;
	font-size: 13px;
	margin-right: 5%;
}
#award-left img{
	width: 100%;
}
#award-right{
	display: inline-block;
	width: 35%;
	margin-left: 5%;
	text-align: left;
	font-size: 12px;
}

.contact{
	background-color: #520003;
	color: white;
}
#contact-text{
	position: relative;
	width: 45%;
	display: inline-block;
	margin-right: 5%;
	padding-left: 1%;
	padding-bottom: 1%;
}
#address h4{
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
	padding-top: 10px;
}
#directions-link{
	margin-top: 10px;
}
#address a{
	margin-top: 10px;
}
#phone h4{
	text-transform: uppercase;
	padding-top: 4%;
}
.contact p{
	margin: 0px;
}
#map{
	width: 45%;
	padding-top: 2%;
	padding-bottom: 2%;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
#map iframe{
	width: 100%;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media (max-width: 950px){
	#menu-btn{
		display: block;
		height: 32px;
		width: 32px;
	}
	#phone-number{
		visibility: hidden;
	}
	#discount{
		display: none;
	}
	#call-now{
		display: none;
	}
	.page-topper{
		margin-top: 5%;
		margin-left: 5%;
	}
	.navbar{
		display: none;
	}
	.active-mobile{
		color: #990005 !important;
	}
	.content-wrapper{
		width: 100%;
	}
	.slide-content-wrapper h2{
		margin-top: 20%;
		font-size: 30px;
	}
	.slide-content-wrapper h4{
		margin-top: 5%;
		font-size: 18px;
	}
}
@media(max-width: 600px){
	body{
		background-size: auto 100%;
	}
	.thumb-text{
		font-size: 18px;
	}
	#contact-text{
		display: block;
		width: 80%;
		margin: auto;
	}
	#map{
		display: block;
		width: 90%;
		margin: auto;
	}
}
@media (max-width: 550px){
	
	.slide-content-wrapper h2{
		margin-top: 15%;
		font-size: 24px;
	}
	.page-thumbnails{
		margin: auto;
		text-align: center;
		width: 65%;
	}
	.thumb{
		display: inline-block;
		width: 98%;
	}
	.thumb-text{
		font-size: 32px;
	}
	#award-left{
		display: block;
		width: 65%;
		margin:auto;
	}
	#award-right{
		display: block;
		width: 65%;
		margin: auto;
	}
}
@media (max-width: 450px){
	#menu-btn{
		width: 24px;
		height: 24px;
	}
}
