.logo{
	width: 50%;
}

.content-wrapper{
	text-align: center;
	width: 70%;
}

.image-thumbs img{
	display: inline-block;
	width: 25%;
	margin: 2%;
	padding: 1%;
	background-color: #ccc;
	box-shadow: 5px 5px 15px black;
	border-radius: 5px;
	-webkit-transition:.1s;
}
.image-thumbs img:hover{
	box-shadow: 10px 10px 15px black;
	cursor: pointer;
}



.img-responsive{
	width: 60% !important;
}

.mfp-content{
	width: 60%;
}
img.mfp-img{
	width: auto;
}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close{
	cursor: pointer;
}
.mfp-bg{
	position: fixed !important;
	height: 100% !important;
}
.mfp-wrap{
	
}


@media(max-width: 950px){
	.logo{
		width: 70%;
	}
}
@media(max-width: 700px){
	.content-wrapper{
		width: 100%;
	}
	.image-thumbs img{
		width: 27%;
	}
	.modal-dialog{
		width: 70%;
		margin-top: 20px;
	}
	.img-responsive{
		width: 70% !important;
	}
}
@media(max-width: 600px){
	.image-thumbs img{
		width: 40%;
	}
}