.content-wrapper{
	width: 60%;
	font-family: "Times New Roman", Times, serif;
}

.review-dark{
	background-color: rgba(0,0,0,.5);
	border-bottom: 2px solid #520003;
}
.review-light{
	background-color: rgba(255,255,255,.3);
	border-bottom: 2px solid #520003;
}

.review-text{
	font-size: 24px;
	text-align: left;
	width: 80%;
	margin: auto;
	padding-top: 2%;
	padding-bottom: 2%;
}
.review-dark p{
	color: white;
	font-size: 24px;
}
.review-light p{
	color: black;
	font-size: 24px;	
}
h1{
	color: #530003;
}

@media (max-width: 950px){
	.review-dark p, .review-light p{
		font-size: 18px;
	}
}
@media (max-width: 550px){
	.review-dark p, .review-light p{
		font-size: 14px;
	}
}